.articulo{
   font-family: "Corbel", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
   text-align: center;
   line-height: 100%;
   display: grid;
 padding: 2%;
 }

 .imgProducto{
    width: 150px;
    height: 150px;
    display:block;
    margin:auto;
 }
 

 .div-agrup-btn-class{
    display: flex;
    justify-content: center;
    align-items: center;
 
    padding: 3%;
 }
 
 .div-precio-class{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-weight: bold;
    padding: 3%;
 }
 
 .btn-mas-menos{
    width: 30px;
    height: 30px;
    font-size: 25px;
    background-color: #eee;
    border: 0;
    align-items: center;
 }
 
 .btn-addCanasta{
    height: 35px;
    color: white;
    background-color: #62B345;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
    width: 150px;
 }
 
/* Use a media query to add a break point at 800px: */
.input-css{
    /* width: 30px;
     height: 30px;*/
     float: left;
      width: 35px;
      height: 30px;
      
      text-align: center;
     font-size: 20px;
     border-top : 1px solid #62B345;
     border-bottom : 1px solid #62B345;
     border-left: 0;
     border-right: 0;
     
  }

 .nombre-class{
    padding: 3%;
    font-weight: bold;
    color:#ECD053;
 }

.column,.column-der,.column-izq{
    background-color: #d4d4d4;
    padding-left: 2px;
    padding-right: 2px;
    height: 45px;
    text-align: center;
    
}
.column-izq{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.column-der{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


.dimension{
    background-color:  #eeeeee ;
    padding: 2px;
    border-collapse: collapse;

}

.header{
    border-radius: 3px;
}

.estilo-izq{
    background-color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}
.estilo-der{
    background-color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: right;
}
.dimension-table{
    width: 350px;
    
}

#total{
    float: right;
}

#contenedor-carrito{
    font-family: "Corbel", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}

.cantidad{text-align: center;}

.text-left{
    font-weight: bold;
}

.valor{background-color: white;
text-align: center;}

#productos-carrito{
    padding: 3px;

}

.btn-mas-menos{
    width: 30px;
    height: 30px;
    font-size: 25px;
    background-color: #eee;
    border: 0;
    align-items: center;
 }